<div class="col-sm-5 emailReader " [ngSwitch]="state" malihuCustomScroller [scrollOptions]="scrollOptions">

    <ng-template ngSwitchCase="mails">
        <div class="col-sm-12 stick">
            <div class="row">
                <div class="col-sm-7">
                    <i class="fa fa-envelope" aria-hidden="true" style="font-size: 54px"></i>
                </div>
                <div class="col-sm-2 text-right">
                    <button class="btn btn-success " (click)="onChangeState('sender')">Send</button>

                </div>
                <div class="col-sm-3 text-right">
                    <button [disabled]="!trashArray.length" class="btn btn-danger " (click)="onMoveToTrash()">Move to Trash</button>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row text-center">
                <!-- <button class="btn-lg moreMail" (click)="emailService.getMail()">
                        <div class="row">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </div>
                        <div class="row">
                            More mail...
                        </div>
                    </button> -->
                <button [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">PREV</button>
                <span>Page {{currentPage}}</span>
                <button [disabled]="currentPage >= emailService.messagesList.length/pageSize" (click)="currentPage = currentPage + 1;loadMore()">NEXT</button>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="col-sm-12 ">
            <div class="row" *ngIf="emailService.messagesList">
                <div class="row " *ngFor="let mail of emailService.messagesList | slice: (currentPage * pageSize) - pageSize :currentPage * pageSize">
                    <div class="col-sm-1">
                        <mat-checkbox (change)="insertToTrashArray($event, mail)"></mat-checkbox>
                    </div>
                    <div class="col-sm-11 mail " (click)="emailService.emailModify(mail,'UNREAD'); mail.Unread= false ;emailService.setMail(mail); onChangeState('viewer')">
                        <div class="col-sm-7" style="font-size: 16px">
                            <span *ngIf="mail.Unread else read">
                                <i class="fa fa-envelope" aria-hidden="true"></i> {{(mail.From.length>24)? (mail.From | slice:0:24)+'..':(mail.From)}}</span>

                            <ng-template #read>
                                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                {{(mail.From.length>24)? (mail.From | slice:0:24)+'..':(mail.From)}}
                            </ng-template>
                        </div>
                        <div class="col-sm-5" style="font-size: 14px">
                            <i>
                                <span innerHtml="{{(mail.Subject.length>18)? (mail.Subject | slice:0:18)+'..':(mail.Subject)}}"></span>
                            </i>
                        </div>
                    </div>
                </div>

                <!-- <p *ngIf="!emailService.nextPageToken" class="text-center">No more messages!</p> -->
            </div>
            <div class="row text-center">
                <mat-progress-spinner color="accent" mode="indeterminate" [diameter]="50" *ngIf="emailService.loading"></mat-progress-spinner>
              </div>
        </div>

    </ng-template>
    <ng-template ngSwitchCase="notConnected">
        <div class="emailTemp">
            <div class="col-sm-2 col-sm-offset-5">
                <div class="row text-center">
                    <i class="fa fa-plug" aria-hidden="true" style="font-size: 54px"></i>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row text-center">
                    <a [href]="gglAuth">
                        <h4>You haven't connected with your Google account yet!</h4>
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngSwitchCase="sender">
        <i class="fa fa-times-circle-o" style="font-size: 32px" aria-hidden="true" (click)="onChangeState('mails')"></i>
        <app-email-sender></app-email-sender>
    </ng-template>

    <ng-template ngSwitchCase="viewer">
        <i class="fa fa-times-circle-o" style="font-size: 32px" aria-hidden="true" (click)="onChangeState('mails')"></i>
        <app-email-viewer></app-email-viewer>
    </ng-template>

</div>