<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">

                    <p> If you already have an account <a [routerLink]="['/auth/sign-in']">Sign-In</a> </p>
                    <form (ngSubmit)="onSignUp(f)"
                            #f="ngForm"
                            method="post"
                            [formGroup]="signUpForm">
                        <div class="form-group">
                            <hr>
                                
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="First Name"
                                           formControlName="firstname"
                                           name="firstname"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Last name"
                                           formControlName="lastname"
                                           name="lastname"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="E-mail address"
                                           formControlName="email"
                                           name="email"
                                    >
                                </div>
                            </div>
                          <br />
                          <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Username"
                                           formControlName="username"
                                           name="username"
                                    >
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Password"
                                           formControlName="password"
                                           name="password"
                                    >
                                </div>
                            </div>
                            <hr>
                            <button class="btn btn-success col-sm-8 col-sm-offset-2 submitButton" type="submit" [disabled]="!signUpForm.valid">Submit!</button>
                        </div>
                    </form>

                    
                    <div class="row" *ngIf="alreadyExists" >
                        <div class="col-sm-10 col-sm-offset-1">
                            <p class="text-danger">The username or email you used already exists.</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="success" >
                        <div class="col-sm-10 col-sm-offset-1">
                            <p class="text-success">Success. You can now login with your credentials in the  <a [routerLink]="['/auth/sign-in']">Sign-In</a> page.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
