<div class="rssReader">
    <form [formGroup]="emailForm"
          #f="ngForm"
          method="post"
          (ngSubmit)="onSend(f)">
        <div class="form-group">
            <mat-form-field>

                <div class="row ">
                    <input matInput placeholder="Receiver's email address" formControlName="To">
                </div>
            </mat-form-field>

            <mat-form-field>
                <div class="row">
                    <input matInput placeholder="Subject" formControlName="Subject">
                </div>
            </mat-form-field>

            <div class="row">
                <app-tinymce formControlName="Body"></app-tinymce>
                <!-- <textarea [froalaEditor]="options" formControlName="Body"></textarea> -->
            </div>

            <div class="col-sm-1 col-sm-offset-10">
                <br/>
                <div class="row">
                    <button class="btn btn-success btn-lg" [disabled]="!emailForm.valid" >Send</button>
                </div>
            </div>
        </div>
    </form>
</div>





