<div class="col-md-4 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">Facebook</div>
        <div class="panel-body">
            <div class="row text-center">
                Email: para.plokamar@gmail.com
            </div>
            <div class="row text-center">
                Name: Panos
            </div>
            <div class="row text-center">
                LastName: Dorgiakis
            </div>
            <div class="row text-center" >
                Connected: True
            </div>

        </div>
    </div>
</div>
