<div class="col-md-4 col-md-offset-2">
    <div *ngFor="let account of accounts" class="panel panel-default">
        <div class="panel-heading" [style.background]="setBackground(account.provider)" >{{account.provider}}</div>
        <div class="panel-body">
            <div class="row text-center">
                Email: para.plokamar@gmail.com
            </div>
            <div class="row text-center">
                Name: Panos
            </div>
            <div class="row text-center">
                LastName: Dorgiakis
            </div>
            <div class="row text-center" >
                Connected: True
            </div>
            <div class="row">
                <button class="btn btn-primary"(click)="logOut(account.provider)">Logout</button>
            </div>

        </div>
    </div>
</div>
