<div class="col-sm-12 accountContainer">
    <div *ngFor="let account of dataService.userData.user_accounts">
        <div class="row">
            <mat-card class="accountCard">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="fa" [ngClass]="{'fa-facebook-official':account.provider === 'facebook','fa-google':account.provider === 'google', 'fa-twitter':account.provider === 'twitter'}"
                               style="font-size: 82px"></i>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                Email: {{account.email}}
                            </div>
                            <div class="row ">
                                Name: {{account.firstname}}
                            </div>
                            <div class="row ">
                                LastName: {{account.lastname}}
                            </div>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
