<div class="col-sm-3 rssReader Timeline" [ngSwitch]="state" malihuCustomScroller [scrollOptions]="scrollOptions" 
(onTotalScroll)="twitterService.getTwits();twitterService.loading=true;">
  <ng-template ngSwitchCase="viewer">
    <div class="col-sm-12 " >
      <div class="row">
        <i class="fa fa-twitter" aria-hidden="true" style="font-size: 54px"></i>
      </div>



      <div class="row" *ngIf="twitterService.twits">
        <div class="row twit" *ngFor="let twit of twitterService.twits">
          <div class="col-sm-3 text-center">
            <div class="row">
              <img class="img-circle" src="{{twit.user.profile_image_url}}">

            </div>
            <div class="row" style="font-size:8;">
              <p>
                <i class="fa fa-users" aria-hidden="true"></i> {{twit.user.followers_count}}</p>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div [innerHTML]="twit.text | links"></div>
            </div>
            <div class="row">
              <p>
                <i class="fa fa-heart-o" aria-hidden="true"></i> {{twit.favorite_count}}</p>
            </div>

          </div>
        </div>
      </div>
      <div class="row text-center">
        <mat-progress-spinner color="accent" mode="indeterminate" [diameter]="50" *ngIf="twitterService.loading"></mat-progress-spinner>
      </div>
      </div>
  </ng-template>
  <ng-template ngSwitchCase="notConnected">
    <div class="emailTemp">
      <div class="col-sm-2 col-sm-offset-5">
        <div class="row text-center">
          <i class="fa fa-meh-o" aria-hidden="true" style="font-size: 54px"></i>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row text-center">
          <a [href]="ttrAuth">
            <h4>You haven't connected with your Twitter account yet!</h4>
          </a>
        </div>
      </div>
    </div>

  </ng-template>
  </div>