<div class="headerStyle">
    <div class="container">
            <div class="col-sm-2">
                <h5>Welcome , {{userFullname}} !</h5>
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <h5>Logo</h5>
            </div>

            <div    class="col-sm-1 text-center link col-sm-offset-2 NORMAL" (click)="redirectTo('/main/home')">
                <h5><strong>Home</strong></h5>
            </div>

            <div class="col-sm-2 text-center link NORMAL" (click)="redirectTo('/main/profile')">
                <h5><strong>{{userFullname}}'s profile</strong></h5>
            </div>

            <div class="col-sm-1 text-center link LOGOUT" (click)="logout()" >
                <h5><strong>logout</strong></h5>
            </div>

    </div>

</div>


