<div class="headerStyle">
    <div class="container">
            <div class="col-md-2">
                <h5>Welcome , {{userFullname}} !</h5>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <h5>Logo</h5>
            </div>

            <div [ngStyle]="hover1 ? {'background': '#DC2430'}: {'background': 'none'}" (mouseover)="hover1 = true" (mouseout)="hover1 = false" class="col-md-1 text-center link col-md-offset-2">
                <h5><strong>Home</strong></h5>
            </div>

            <div [ngStyle]="hover2 ? {'background': '#DC2430'}: {'background': 'none'}" (mouseover)="hover2 = true" (mouseout)="hover2 = false" class="col-md-2 text-center link ">
                <h5><strong>{{userFullname}}'s profile</strong></h5>
            </div>

            <div [ngStyle]="hover3 ? {'background': '#DC2430'}: {'background': 'none'}" (mouseover)="hover3 = true" (mouseout)="hover3 = false"  class="col-md-1 text-center link" (click)="logout()" >
                <h5><strong>logout</strong></h5>
            </div>

    </div>

</div>


