.headerStyle {
    margin-bottom: 2% ;
    padding: 0px;
    width: 100%;
    height:3%;/*
    background: -moz-linear-gradient(left, #66b3ba, #7C4397);
    background: -webkit-gradient(linear,left top, right top, from(#66b3ba), to(#7C4397));
    background: -webkit-linear-gradient(left,#66b3ba, #7C4397);
    background: -o-linear-gradient(#66b3ba, #7C4397);
    background: -ms-linear-gradient(#66b3ba, #7C4397);
    background: linear-gradient(to left,#66b3ba, #7C4397);*/
    background: #63c7b2;
    box-shadow: 0px 2px 2px #59656f;
    color: #FFFFFF;
}
.container{
    width: 100%;
}
.link{
    /*border-left-style: solid !important;*/
    /*border-right-style: solid !important;*/
    border-left: black ;
    border-right: black;
    border-width:1px;
    cursor: pointer;

}
