.panel-body{

    background: #66b3ba;
    color: #FFFFFF;
}
.panel{
    border-color: #66b3ba;
    border-radius: 8px;
    opacity: 0.5%;
    margin-top: 50%;
}
.fbButton, .gglButton, .ttrButton{
    border-radius: 20px;
}
.gglButton{
    background: #EA4335;
}
.fbButton{
    background: #4267B2;
}
.ttrButton{
    background: #1DA1F2;
}
i{
    color: #FFFFFF;
}
hr{
    border-color: #000000;
}
a{
    color: #000000;
}
input{
    background: #FFFFFF;
    color: #000000;
}

.submitButton{
    background: #7C4397;
    color: #FFFFFF;
}

