<div class="col-sm-3 rssReader"  malihuCustomScroller
    [scrollOptions]="scrollOptions">
    <div class="col-sm-12 ">
        <div class="row">
            <i class="fa fa-rss-square" aria-hidden="true" style="font-size: 54px"></i>
        </div>
        <div class="row">
            <br />
            <!-- <mat-form-field>
                <input matInput placeholder="Enter an RSS url..." (keyup.enter)="receiveRss(rssUrl)" [(ngModel)]="rssUrl">
            </mat-form-field> -->
            <!-- <p *ngFor="let rss of dataService.userData.rss_feeds">{{rss}}</p> -->
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Enter an Rss url" aria-label="Number" matInput (keyup.enter)="receiveRss()" [(ngModel)]="rssUrl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let rss of dataService.userData.rss_feeds" [value]="rss">
                        {{ rss }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>

        <div class="row">
            <p class="text-danger" *ngIf="hideError">Please provide a correct rss url...</p>
            <mat-progress-spinner mode="indeterminate" [diameter]="30" *ngIf="hideSpinner"></mat-progress-spinner>
        </div>


        <div class="row" *ngIf="mediaDescription">
            <a [href]="mediaDescription.link">
                <img [src]="mediaDescription.image" class="img img-responsive">
            </a>
            <p>{{mediaDescription.description}}</p>
        </div>
        <div class="row" *ngIf="feedArray">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let feed of feedArray; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p style="font-size: 12px">
                                <strong>{{(feed.title.length>32)? (feed.title | slice:0:32)+'..':(feed.title)}}</strong>
                            </p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <strong>{{feed.title}}</strong>
                    <br>
                    <span [innerHTML]="feed.description"></span>
                    <hr>
                    <a [href]="feed.guid">Read the story!</a>
                </mat-expansion-panel>
            </mat-accordion>
            <br/>
        </div>
    </div>

</div>