<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-6 col-md-offset-2 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">

                <div class="panel-heading">
                    User Profile
                </div>

                    <div class="panel-body">
                        <div class="row">
                            <img [src]=" imgSrc " class="img img-responsive">
                        </div>
                        <br />
                        <div class="row">
                            <h3>{{userFirstName}}</h3>
                            <h3>{{userLastName}}</h3>
                        </div>
                    </div>

            </div>
        </div>
        <app-account></app-account>
    </div>
</div>
